{% extends "base.html" %}

{% load humanize %}

{% block page_title %}
    상품 관리
{% endblock page_title %}
{% block content %}

    <div onload="admin_loac()" class="container mx-auto pb-10">
    <script>
        console.log("click");
        var search = document.getElementById('search');
        search.style.visibility="hidden";
    </script>

        <div class="flex">
            <div class="w-1/3 pl-3">
                <form method="GET" action="{% url 'items:admin-page' %}" class="w-9/12">
                    <input class="search-box border px-5 w-full font-medium text-gray-900 placeholder-gray-600 py-3 rounded-full w-64 shadow-md hover:shadow-lg focus:outline-none" name="search" placeholder="Search" />
                </form>
            </div>
            <div class="w-1/3 font-semibold text-center text-2xl">상품 관리</div>
            <div class="w-1/3 flex justify-end">
                <a class="mr-5 ml-20 duration-500 px-6 py-2 border-gray-500 border-2 rounded-full mb-5 text-center font-bold hover:bg-gray-500 shadow-md hover:shadow-lg hover:text-white" href="{% url 'items:create' %}">상품 추가</a>
            </div>
        </div>

        {% comment %} item list {% endcomment %}
        <div class="border-t-2">
            {% for item in items  %}
                <div class="flex justify-between border-b-2 py-10 items-center w-full">
                    <div class="flex items-center">
                        <div class="text-2xl font-bold ml-5 text-center w-16">{{item.pk}}</div>
                        <a href="{% url 'items:detail' pk=item.pk %}">
                        <div class="w-32 h-32 bg-cover bg-center rounded-md ml-8" style="background-image:url({{item.thumbnail}})"></div>
                        </a>
                        <div class="ml-8">
                            <a href="{% url 'items:detail' pk=item.pk %}">
                                <p class="font-semibold text-xl mb-3 truncate">{{item.name}}</p>
                            </a>
                            <p class="font-semibold text-gray-600 mb-3">{{item.price|intcomma}}원</p>
                            <p class="font-semibold text-gray-600 mb-3">원재고량 : {{item.count}}개</p>
                            <p class="font-semibold text-gray-600 mb-3">출고량 : {{item.get_released}}개</p>
                            <p class="font-semibold text-gray-600 mb-3">남은물량 : {{item.get_remaining}}개</p>
                            <i class="fas fa-heart text-red-500 text-sm"></i>
                            <span class="fas text-red-500 text-sm">{{item.favs.count}}</span>
                        </div>
                    </div>
                    <div class="mb-4">
                    </div>
                    <div class="mr-5">
                            <input class="admin-item-count mb-2 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="admin_item_count_{{ item.pk }}" type="number" placeholder="추가할 재고량" data-id="{{ item.pk }}">
                            <a class="item-count-add-btn" data-id="{{ item.pk }}" data-input-id="admin_item_count_{{ item.pk }}" href="#">
                                <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-gray-600 shadow-md hover:shadow-lg hover:bg-gray-600 hover:text-white w-full mb-2">재고 추가</div>
                            </a>
                            <a href="{% url 'items:photos' item.pk %}">
                                <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-gray-600 shadow-md hover:shadow-lg hover:bg-gray-600 hover:text-white w-full mb-2">사진 편집</div>
                            </a>
                            <a href="{% url 'items:options' item_pk=item.pk %}">
                                <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-gray-600 shadow-md hover:shadow-lg hover:bg-gray-600 hover:text-white w-full mb-2">옵션 편집</div>
                            </a>
                            <a href="{% url 'items:edit' item.pk %}?m=admin">
                                <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-teal-400 shadow-md hover:shadow-lg hover:bg-teal-400 hover:text-white w-full mb-2">상품 편집</div>
                            </a>
                            <a href="{% url 'items:delete' item.pk %}?m=admin">
                                <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-red-400 shadow-md hover:shadow-lg hover:bg-red-400 hover:text-white w-full mb-2 ">상품 삭제</div>
                            </a>    
                    </div>
                </div>
            {% endfor %}
        </div>
        
        {% comment %} pagination {% endcomment %}
        {% if page_obj.paginator.num_pages != 1 %}
        <div class="flex items-center justify-center mx-auto container mt-5">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next  %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
        </div>
        {% endif %}
        
        <div class="flex justify-center mt-8">
            <a href="{% url 'users:admin-profile' %}" class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-black text-black shadow-md hover:shadow-lg hover:bg-black hover:text-white">완료</a>
        </div>
    </div>
    
{% endblock content %}