{% load static %}
<footer>
    <div class="w-full border mt-32">
        <div class="w-2/3 flex justify-between mx-auto my-5 text-sm">

            <div class="px-8 py-8 w-1/3">
                <p class="font-semibold mb-3">NOTICE & NEWS</p>
                
                <a href="https://www.instagram.com/yeonwoo_80/">
                    <img class="w-8 h-8" src={% static 'img/insta.png' %} />
                </a>
            </div>

            <div class="border-l border-r py-8 px-4 w-1/3">
                <div class="pb-1 px-4 pb-6 border-b">
                    <p class="font-semibold">CS CENTER</p>
                    <p class="font-semibold text-2xl text-gray-700 my-2">010-0000-0000</p>
                    <p class=" text-gray-600 text-xs">MON-FRI 10:00-19:00</p>
                    <p class=" text-gray-600 text-xs">HOLIDAY OFF</p>
                </div>

                <div class="px-4 pt-6">
                    <p class="font-semibold">BANK ACCOUNT</p>
                    <div class="flex mt-3">
                        <span class=" text-gray-600 text-xs">농협 302.0000.0000.00</span>
                        <span class="ml-2 text-xs">예금주:홍길동</span>
                    </div>
                </div>
            </div>

            <div class="px-8 py-8 w-1/3">
                <div class="flex justify-between w-full mb-5">
                    <a href="#" class="duration-500 border-b-2 border-white font-semibold text-xs hover:border-gray-600">ABOUT US</a>
                    <a href="#" class="duration-500 border-b-2 border-white font-semibold text-xs hover:border-gray-600">AGREEMENT</a>
                    <a href="#" class="duration-500 border-b-2 border-white font-semibold text-xs hover:border-gray-600">PRIVACY POLICY</a>
                    <a href="#" class="duration-500 border-b-2 border-white font-semibold text-xs hover:border-gray-600">GUIDE</a>
                </div>

                <p class="pb-2 text-gray-600 text-xs">COMPANY:연우공간 OWNER:연우</p>
                <p class="pb-2 text-gray-600 text-xs">BUSINESS LICENSE:[310-13-81201]</p>
                <p class="pb-2 text-gray-600 text-xs">MAIL-ORDER LICENSE:????</p>
                <p class="pb-2 text-gray-600 text-xs">ADDRESS:38160 경상북도 경주시 원화로 160 연우공간</p>
                <p class="pb-2 text-gray-600 text-xs">TEL:010-0000-0000 EMAIL:abc@naver.com</p>
                <p class=" text-gray-600 text-xs">PRIVACY MANAGER:홍길동(abc@naver.com)</p>
            </div>
        </div>

    </div>

    <div class="w-full border">
        <div class="w-2/3 flex justify-between mx-auto text-gray-600 py-3 text-xs">
            COPYRIGHTⓒ졸작 ALL RIGHT RESERVED. DESIGNED BY 졸작
        </div>
    </div>
</footer>