{% load get_categories %}

<div class="border-b-2 mb-5 w-full flex justify-center">
    <div class="w-full flex justify-between items-center">
        <ul class="flex items-center text-sm font-medium h-full">
            <li class="duration-500 nav_link"><a href="{% url 'core:home' %}">ALL</a></li><!-- TODO : 인기상품 표시-->
            {% get_categories as categories %}
            {% for category in categories %}
            <li class="duration-500 nav_link"><a href="{% url 'core:home' %}?category={{category}}">{{category}}</a></li>
            {% endfor %}
        </ul>
        <form id="search" method="GET" action="{% url 'core:home' %}" class="w-64 mr-3 my-1">
            <input class="search-box border px-5 w-full font-medium text-gray-900 placeholder-gray-600 py-2 rounded-full w-full shadow-md hover:shadow-lg focus:outline-none" name="search" placeholder="Search" />
        </form>
    </div>
</div>