{% load static %}
<div class="flex border-b justify-between">
    <div class="flex items-center w-1/8 border-r-2 px-3">
        <a href="{% url "core:home" %}">
            <img class="rounded-lg w-24" src="{% static 'img/Home.jpg' %}" />
        </a>
    </div>

    <ul class="flex items-center text-sm font-medium h-full">
        {% if user.is_authenticated %}
        <li class="duration-500 nav_link"><a href="{% url 'users:logout' %}">로그아웃</a></li>
        {% if user.is_superuser == False %}
        <li class="duration-500 nav_link"><a href="{% url 'users:see-favs' %}">위시리스트
                {% if user.favlist.count != '' %}
                ({{user.favlist.count}})
                {% endif %}</a>
        </li>
        <li class="duration-500 nav_link"><a href="{% url 'orders:all' %}">주문내역</a></li>
        {% endif %}

        {% if user.is_superuser %}
        <li class="duration-500 nav_link"><a href="{% url 'users:admin-profile' %}">관리자페이지</a></li>
        {% else %}
        <li class="duration-500 nav_link"><a href="{% url 'users:profile' %}">내 정보</a></li>
        {% endif %}
        
        {% else %}
        <li class="duration-500 nav_link"><a href="{% url 'users:login' %}">로그인</a></li>
        <li class="duration-500 nav_link"><a href="{% url 'users:signup' %} ">회원 가입</a></li>
        {% endif %}
    </ul>
</div>