<div class="flex justify-center items-center mr-10">
    <a href="#">장바구니</a>
    <form method="get" action="#" class="w-9/12">
        <input class="search-box border px-5 w-full font-medium text-gray-900 placeholder-gray-600 py-3 rounded-md w-64 shadow-md hover:shadow-lg focus:outline-none" name="search" placeholder="Search" />
    </form>
</div>
