{% load humanize %}

<div class="w-1/4 mb-10 px-4 overflow-hidden">
    <a href="{% url 'items:detail' item.pk %}">
        <div class="w-full h-64 bg-cover bg-center rounded-lg mb-2" style="background-image: url({{item.thumbnail}})"></div>
        <div>
            <span class="text-sm text-gray-600 block truncate mb-2">{{item.name}}</span>
            <div class="flex justify-between">
                <span class="text-black w-11/12 block truncate">{{item.price|intcomma}}원</span>
                <div class="flex">
                    <i class="fas fa-heart text-red-500 text-sm mr-1"></i>
                    <span class="fas text-red-500 text-sm mr-1">{{item.favs.count}}</span>
                </div>
            </div>
        </div>
    </a>
</div>