{% if user.avatar %}
<div class="{{h_and_w|default:'h-20 w-20'}} rounded-full bg-cover" style="background-image: url({{user.avatar.url}})">
{% else %}
<div class="{{h_and_w|default:'h-20 w-20'}} bg-gray-700 rounded-full text-white flex justify-center items-center overflow-hidden">
<span class="{{text|default:'text-2xl'}}">{{user.name|first}}</span>
{% endif %}
</div> 