{% extends 'base.html' %}
{% load humanize %}

{% block page_title %}
    관리자 페이지
{% endblock page_title %}

{% block content %}

    <div class="min-h-75vh">
        <p class="font-semibold text-center text-2xl">관리자 페이지</p>

        <div class="mx-auto w-2/3 mt-8">
            <div class="w-full flex justify-center mb-3">
                <a href="{% url 'items:admin-page' %}" class="duration-500 border w-1/3 text-center rounded-sm hover:border-black py-5">
                    <p class="text-2xl font-bold mb-2">ITEM</p>
                    <p class="text-gray-600 text-sm mb-4">상품 관리</p>
                </a>
                
                <a href="{% url 'orders:all' %}" class="duration-500 border w-1/3 mx-3 text-center rounded-sm hover:border-black py-5">
                    <p class="text-2xl font-bold mb-2">ORDER</p>
                    <p class="text-gray-600 text-sm mb-4">주문 관리</p>
                </a>

                <a href="{% url 'items:categories' %}" class="duration-500 border w-1/3 text-center rounded-sm hover:border-black py-5 ml-3">
                    <p class="text-2xl font-bold mb-2">CATEGORY</p>
                    <p class="text-gray-600 text-sm mb-4">카테고리 관리</p>
                </a>
            </div>

            <div class="w-full flex justify-center">
                {% comment %} <a href="#" class="duration-500 border w-1/3 text-center rounded-sm hover:border-black py-5">
                    <p class="text-2xl font-bold mb-2">DELIVERY</p>
                    <p class="text-gray-600 text-sm mb-4">배송 관리</p>
                </a> {% endcomment %}

                <a href="{% url 'qnas:list-f' %}" class="duration-500 border w-1/3 text-center rounded-sm hover:border-black py-5">
                    <p class="text-2xl font-bold mb-2">QNA</p>
                    <p class="text-gray-600 text-sm mb-4">질의응답 관리</p>
                </a>

                <a href="{% url 'reviews:list' %}" class="duration-500 border w-1/3 text-center rounded-sm hover:border-black py-5 ml-3">
                    <p class="text-2xl font-bold mb-2">REVIEW</p>
                    <p class="text-gray-600 text-sm mb-4">리뷰 관리</p>
                </a>
            </div>

    </div>

{% endblock content %}
