{% extends "base.html" %}

{% block page_title %}
    {{user.name}}님의 찜목록
{% endblock page_title %}

{% block content %}

    <div class="min-h-75vh">

        <h3 class="mb-12 text-2xl font-bold text-center">위시리스트</h3>

        <div class="container mx-auto pb-10 ">
            <div class="flex flex-wrap -mx-40 mb-10">
                {% for item in user.favlist.all  %}
                    {% include 'mixins/item_card.html' with item=item %}
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock content %}