{% extends 'base.html' %}

{% block page_title %}
    사진 편집
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container mx-auto">

        <div class="flex">
            <div class="w-1/3"></div>
            <div class="w-1/3 font-semibold text-center text-2xl">사진 편집</div>
            <div class="w-1/3 flex justify-end">
                <a class="mr-5 ml-20 duration-500 px-6 py-2 border-gray-500 border-2 rounded-full mb-5 text-center font-bold hover:bg-gray-500 shadow-md hover:shadow-lg hover:text-white" href="{% url 'items:add-photo' item.pk %}">사진 추가</a>
            </div>
        </div>

        {% comment %} Photo List {% endcomment %}
        <div class="border-t-2">
            {% for photo in item.photos.all  %}
                <div class="flex justify-between border-b-2 py-10 items-center">
                    <div class="flex items-center">
                        <div></div>
                        <img src="{{photo.file.url}}" class="w-32 h-32 bg-cover bg-center rounded-md ml-8" />
                        <div class="ml-8">
                            <p class="font-semibold text-xl mb-3 truncate">{{photo.file}}</p>
                        </div>
                    </div>
                    <div class="mr-5">
                        <a href="{% url 'items:edit-photo' item.pk photo.pk %}">
                            <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-teal-400 shadow-md hover:shadow-lg hover:bg-teal-400 w-full mb-3">사진 편집</div>
                        </a>
                        <a href="{% url 'items:delete-photo' item.pk photo.pk %}">
                            <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-red-400 shadow-md hover:shadow-lg hover:bg-red-400 w-full">사진 삭제</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% comment %} 이전 완료 버튼 {% endcomment %}
        {% comment %} <div class="flex justify-between mt-10 px-8">
            <a href="{% url 'items:edit' item.pk %}" class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-red-400 shadow-md hover:shadow-lg hover:bg-red-400">이전</a>
            <a href="{% url 'items:detail' item.pk %}" class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-teal-400 shadow-md hover:shadow-lg hover:bg-teal-400">완료</a>
        </div> {% endcomment %}
        <div class="flex justify-center mt-8">
            <a href="{% url 'items:detail' item.pk %}" class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-black text-black shadow-md hover:shadow-lg hover:bg-black hover:text-white">완료</a>
        </div>

    </div>
{% endblock content %}