@tailwind base;
@tailwind components;
.nav_link {
    @apply ml-3 border-b-2 border-white h-full flex items-center;
    a {
        @apply py-3 px-2;
    }
    &:hover {
        @apply border-gray-600;
    }
  }

  @keyframes messageFadeIn {
    0%{
      opacity: 0;
      transform: translateY(-50px);
    }
    5%{
      opacity: 1;
      transform: translateY(50px);
    }
    95%{
      opacity: 1;
      transform: translateY(50px);
    }
    100%{
      opacity: 0;
      transform: translateY(-50px);
    }
  }

.item_btn{
    @apply px-5 py-2 rounded-sm cursor-pointer text-center mx-2 w-32;
}

.content-wrapper {
  min-height: 100vh;
  max-height: 1200px;
  text-align: center;
  margin: 0 auto;
}

div.payment-wrapper {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

iframe.payment-frame {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

button.disabled:hover {
  background: gray;
  border: gray;
}

button.disabled {
  background: gray;
  border: gray;
  cursor: not-allowed;
}
/*
order-status

active

before-order  
order-payed
order-prep
on-delivery
order-complete
*/

.order-status-wrapper {
  align-content: center;
  text-align: center;
  padding: 30px;
  padding-bottom: 60px;
}

.order-status-wrapper > div {
  margin-left: 5px;
  margin-right: 5px;
}

.status-next {
  width: 50px;
  height: 50px;
  background-image: url('/static/img/status_next.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  position: relative;
  top: 37px;
}
.order-status {
  width: 125px;
  height: 125px;
  border-radius: 150px;
  background-color: #ececec;
  display: inline-block;
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
}

.order-status > span {
  margin-top: 140px;
  position: relative;
  display: inline-block;
}

.order-status.active {
  background-color: rgb(138, 169, 255);

}
.order-status.before-order {
  background-image: url('/static/img/before_order.png');
}
.order-status.order-payed {
  background-image: url('/static/img/payed.png');
}
.order-status.order-prep {
  background-image: url('/static/img/on_prep.png');
}
.order-status.on-delivery {
  background-image: url('/static/img/on_delivery.png');
}
.order-status.order-complete {
  background-image: url('/static/img/completed.png');
}

.order-info{
  padding: 12px 8px 0px;
  width: 100%;
}

.order-info-line{
  height : 20%;
  background:rgb(122, 159, 197);
}
.order-info-line:last-child{
  border-bottom: none;
}

.order-info-line-data{
  display:inline-block;
  font-weight: 700;
  text-align: center;
  width : 20%;
  background-color: #ececec;
  padding: 15px;
  border-right: solid 5px white;
}
.order-info-line-item{
  display:inline-block;
  color : white;
  font-weight: 700;
  width:50%;
  padding-left: 10px;
}
.order-deliver{
  display:block;
  padding:10px;
}
@tailwind utilities;