@tailwind base;
@tailwind components;
.nav_link {
  @apply ml-3 border-b-2 border-white h-full flex items-center;
}

.nav_link a {
  @apply py-3 px-2;
}

.nav_link:hover {
  @apply border-gray-600;
}

@-webkit-keyframes messageFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

.item_btn {
  @apply px-5 py-2 rounded-sm cursor-pointer text-center mx-2 w-32;
}

@tailwind utilities;
/*# sourceMappingURL=styles.css.map */