{% extends 'base.html' %}

{% block page_title %}
    태그
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container w-1/2 mx-auto">

        <div class="flex">
            <div class="w-1/3"></div>
            <div class="w-1/3 font-semibold text-center text-2xl">태그</div>
            <div class="w-1/3 flex justify-end">
                <a class="mr-5 ml-20 duration-500 px-6 py-2 border-gray-500 border-2 rounded-full mb-5 text-center font-bold hover:bg-gray-500 shadow-md hover:shadow-lg hover:text-white" href="{% url 'items:add-tag' %}">태그 생성</a>
            </div>
        </div>

        {% comment %} Tag List {% endcomment %}
        <div class="border-t-2">
            {% for tag in tags.all  %}
                <div class="flex justify-between border-b-2 py-10 items-center">
                    <div class="ml-8 font-semibold text-3xl">{{tag.tag_name}}</div>
                    <div class="mr-5">
                        <a href="{% url 'items:edit-tag' tag_pk=tag.pk %}">
                            <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-teal-400 shadow-md hover:shadow-lg hover:bg-teal-400 w-full mb-3">태그 수정</div>
                        </a>
                        <a href="{% url 'items:delete-tag' tag_pk=tag.pk %}">
                            <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-red-400 shadow-md hover:shadow-lg hover:bg-red-400 w-full">태그 삭제</div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="flex justify-center mt-8">
            <a href="{% url 'users:admin-profile' %}" class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-black text-black shadow-md hover:shadow-lg hover:bg-black hover:text-white">완료</a>
        </div>

    </div>
{% endblock content %}