{% extends 'base.html' %}
{% load humanize %}
{% block page_title %}
    질문 관리
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container w-1/2 mx-auto">

        <div class="flex items-center mb-5">
            <div class="w-1/3 pl-3">
                <form method="GET" action="{% url 'qnas:list-f' %}" class="w-9/12">
                    <input class="search-box border px-5 w-full font-medium text-gray-900 placeholder-gray-600 py-3 rounded-full w-64 shadow-md hover:shadow-lg focus:outline-none" name="search" placeholder="Search" />
                </form>
            </div>
            <div class="w-1/3 font-semibold text-center text-2xl">질문 관리</div>
            <div class="w-1/3">
                <div class="flex justify-end">

                    <a href="{% url 'qnas:list-f' %}" class="w-32 mr-3">
                    <div class="duration-500 mr-2 rounded-full py-2 text-center font-semibold border-2 border-red-600 shadow-lg bg-red-600 text-white w-full mb-2">
                        미답변
                    </div>
                    </a>

                    <a href="{% url 'qnas:list-t' %}" class="w-32 mr-5">
                    <div class="duration-500 rounded-full py-2 text-center font-semibold border-2 border-teal-600 shadow-md hover:shadow-lg hover:bg-teal-600 hover:text-white w-full mb-2">
                        답변완료
                    </div>
                    </a>

                </div>
            </div>
        </div>

        {% comment %} Question List {% endcomment %}
        <div class="border-t-2">
            {% for question in questions  %}
            <div class="border-section my-5 border-b-2">
                <div class="mx-5 mb-1 flex">
                    <div class="flex justify-between items-center w-full">
                    <div class="flex">
                        <div class="flex items-center">
                            <a href="{% url 'items:detail' pk=question.item.pk %}" class="w-16">
                                <div class="w-16 h-16 bg-cover bg-center rounded-md" style="background-image:url({{question.item.thumbnail}})"></div>
                                <div class="font-semibold text-xs mb-3 truncate">{{question.item.name}}</div>
                            </a>
                        </div>

                        <div class="text-center ml-5">
                            {% include "mixins/user_avatar.html" with user=question.user h_and_w='w-10 h-10' text='text-lg' %}
                            <span class="text-xs text-gray-500">{{question.user.name}}</span>
                        </div>
                        <div class="flex flex-col ml-5">
                            <div>
                                <span class="font-medium font-bold">{{question.title}}</span>
                                <span class="ml-1 text-xs text-gray-500">{{question.created|date:'F Y'}}</span>
                                {% if user.is_superuser %}
                                <a href="{% url 'qnas:delete-q' question_pk=question.pk %}?m=admin" class="duration-500 ml-1 text-sm text-red-500 font-semibold hover:text-red-700">삭제</a>
                                {% endif %}
                            </div>
                            <p class="text-gray-600 text-sm">{{question.content}}</p>
                        </div>
                    </div>
                    <a href="{% url 'qnas:create-a' question.pk %}?m=admin">
                        <div class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-gray-600 shadow-md hover:shadow-lg hover:bg-gray-600 hover:text-white w-full mb-2">답변 달기</div>
                    </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% comment %} pagination {% endcomment %}
        {% if page_obj.paginator.num_pages != 1 %}
        <div class="flex items-center justify-center mx-auto container mt-5">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next  %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
        </div>
        {% endif %}

        <div class="flex justify-center mt-8">
            <a href="{% url 'users:admin-profile' %}" class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-black text-black shadow-md hover:shadow-lg hover:bg-black hover:text-white">완료</a>
        </div>
    </div>
{% endblock content %}