{% extends 'base.html' %}
{% load humanize %}
{% block page_title %}
    리뷰 관리
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container w-1/2 mx-auto">

        <div class="flex items-center mb-5">
            <div class="w-1/3 pl-3">
                <form method="GET" action="{% url 'reviews:list' %}" class="w-9/12">
                    <input class="search-box border px-5 w-full font-medium text-gray-900 placeholder-gray-600 py-3 rounded-full w-64 shadow-md hover:shadow-lg focus:outline-none" name="search" placeholder="Search" />
                </form>
            </div>
            <div class="w-1/3 font-semibold text-center text-2xl">리뷰 관리</div>
            <div class="w-1/3">
            </div>
        </div>

        {% comment %} Review List {% endcomment %}
        <div class="border-t-2">
            {% for review in reviews  %}
            <div class="border-section my-5 border-b-2">
                <div class="ml-5 mb-1 flex">

                    <div class="flex items-center">
                        <a href="{% url 'items:detail' pk=review.item.pk %}" class="w-16">
                            <div class="w-16 h-16 bg-cover bg-center rounded-md" style="background-image:url({{review.item.thumbnail}})"></div>
                            <div class="font-semibold text-xs mb-3 truncate">{{review.item.name}}</div>
                        </a>
                    </div>

                    <div class="text-center ml-5">
                        {% include "mixins/user_avatar.html" with user=review.user h_and_w='w-10 h-10' text='text-lg' %}
                        <span class="text-xs text-gray-500">{{review.user.name}}</span>
                    </div>
                    <div class="flex flex-col ml-5">
                        <div>
                            <span class="font-medium font-bold">{{review.title}}</span>
                            <span class="ml-1 text-xs text-gray-500">{{review.created|date:'F Y'}}</span>
                            {% if user.is_superuser %}
                            <a href="{% url 'reviews:delete' review_pk=review.pk %}?m=admin" class="duration-500 ml-1 text-sm text-red-500 font-semibold hover:text-red-700">삭제</a>
                            {% endif %}
                        </div>
                        <p class="text-gray-600 text-sm">{{review.content}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% comment %} pagination {% endcomment %}
        {% if page_obj.paginator.num_pages != 1 %}
        <div class="flex items-center justify-center mx-auto container mt-5">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next  %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
        </div>
        {% endif %}

        <div class="flex justify-center mt-8">
            <a href="{% url 'users:admin-profile' %}" class="duration-500 rounded-full px-6 py-2 text-center font-semibold border-2 border-black text-black shadow-md hover:shadow-lg hover:bg-black hover:text-white">완료</a>
        </div>
    </div>
{% endblock content %}