<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet", href="{% static "css/styles.css" %}">
        <script src="{% static "js/store.js" %}"></script>
        <script src="{% static "js/index.js" %}"></script>
        <title>{% block page_title %}{% endblock page_title %}| 연우공간</title>
    </head>

    <body class="text-gray-800 font-light">
        <div>
            <header>
                {% include "partials/nav.html" %}
            </header>

            <div class="border-b-2 flex justify-center px-20 py-5">
                <a href="{% url "core:home" %}" class="ml-6">
                    <img class="rounded-lg" src="{% static 'img/Logo.png' %}" />
                </a>
            </div>

            {% include "partials/menu.html" %}

            {% block content %}{% endblock content %}

            {% include "partials/footer.html" %}
        </div>
    </body>
</html>