{% extends "base.html" %}

{% load humanize %}

{% block page_title %}
    {% if user.is_superuser %}
    주문 관리
    {% else %}
    {{user.name}}님의 주문 내역
    {% endif %}
{% endblock page_title %}

{% block content %}

    <div class="min-h-75vh">

        <h3 class="mb-8 text-2xl text-center font-semibold">        
            {% if user.is_superuser %}
            주문 관리
            {% else %}
            {{user.name}}님의 주문 내역
            {% endif %}
        </h3>

        <div class="container mx-auto">
            <div class="border-t-2">
                {% if order_list.count == 0 %}
                <h4 class="mt-8 mb-8 text-xl text-center">주문 내역이 없습니다.</h4>
                {% endif %}
                {% for order in order_list  %}
                    <div class="flex border-b-2 py-10 items-center">

                        <div class="text-2xl font-bold ml-5 text-center w-16">{{order.pk}}</div>
                        <a href="{% url 'orders:detail' pk=order.pk %}">
                            <div class="w-32 h-32 bg-cover bg-center rounded-md ml-5" style="background-image:url({{order.thumbnail}})"></div>
                        </a>

                        <div class="flex flex-col ml-10 w-full">
                            <a href="{% url 'orders:detail' pk=order.pk %}" class="mb-1">
                                <span class="truncate font-semibold">{{order}}</span>
                            </a>
                            <span class="mb-1 text-gray-600 font-semibold text-sm">{{order.GetActualPrice|intcomma}}원 | {{order.created|date:"Y.m.d"}}</span>
                            {% comment %} {% if order.state == "order_created" %}
                                <span class="text-teal-500 pb-2">{{order.state}}</span>
                            {% endif %} {% endcomment %}
                            <span class="text-teal-500 pb-2">{{order.state}}</span>
                        </div>
                        
                        {% if order.state == order.ORDER_CREATED %}
                        <a href="{% url 'orders:delete-order' order_pk=order.pk %}">
                            <div class="duration-300 mr-5 w-40 text-center py-2 font-semibold border-2 border-gray-400 px-2 py-1 shadow-md rounded-full hover:bg-gray-400 hover:shadow-lg">주문 삭제</div>
                        </a>
                        {% elif order.state == order.PAY_CONFIRMED %}
                        <a href="{% url 'orders:delete-order' order_pk=order.pk %}">
                            <div class="duration-300 mr-5 w-40 text-center py-2 font-semibold border-2 border-gray-400 px-2 py-1 shadow-md rounded-full hover:bg-gray-400 hover:shadow-lg">주문 취소</div>
                        </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock content %}