{% extends "base.html" %}

{% load humanize %}

{% block page_title %}
    {{current_order}}
    주문 상세
{% endblock page_title %}

{% block content %}
    {% if user.pk != current_order.user.pk and not user.is_superuser %}
    <meta http-equiv="refresh" content="0;URL={% url 'core:home' %}">
    {% else %}
    <div class="min-h-75vh">
        <div class="container mx-auto px-10">
            <p class="font-bold text-2xl">
                주문/배송상세정보
                {% if user.is_superuser %}
                (관리자)
                {% endif %}
            </p>

            <div class="border-4 rounded-md px-3 py-2 mt-3 mb-8 justify-between">
                <div class="float-left my-auto font-bold inline-block mt-1">
                    <span>주문번호</span>
                    <span class="text-green-600">{{current_order.pk}}</span>
                    <span class="text-gray-300">|</span>
                    <span>주문 일자</span>
                    <span class="text-green-600">{{current_order.created|date:"Y.m.d"}}</span>
                    {% if payment.isPayed %}
                    <span class="text-gray-300">|</span>
                    <span>결제 시간</span>
                    <span class="text-green-600">{{payment.purchased_at}}</span>
                    {% if user.is_superuser %}
                    <span class="text-gray-300">|</span>
                    <span>부트페이 영수증 ID</span>
                    <span class="text-green-600">{{payment.receipt_id}}</span>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="float-right">
                    {% if payment.isPayed %}
                    <a href="{{receipt_url_replaced}}" target="receipt_window" onclick="window.open(this.href, 'receipt_window', 'location=no,menubar=no,status=no,titlebar=no,toolbar=no, width=420, height=520'); return false">
                        <div class="inline-block duration-300 font-semibold border-2 border-gray-400 px-2 py-1 shadow-md rounded-full hover:bg-gray-400 hover:shadow-lg">영수증 보기</div>
                    </a>
                    {% endif %}
                    {% if user.is_superuser and current_order.state == current_order.PAY_CONFIRMED %}
                    <button id="order_set_submitted" class="inline-block cursor-pointer duration-300 font-semibold border-2 border-gray-400 px-2 py-1 shadow-md rounded-full hover:bg-gray-400 hover:shadow-lg">주문 접수</button>
                    {% endif %}
                </div>
                <div class="clear-both"></div>
            </div>
            <div class="order-status-wrapper border-4 rounded-md mt-3 mb-8 flex justify-between">
                <div class="order-status before-order {% if current_order.state == current_order.ORDER_CREATED %}active{% endif %}"><span>주문전</span></div>
                <div class="status-next"></div>
                <div class="order-status order-payed {% if current_order.state == current_order.PAY_CONFIRMED %}active{% endif %}"><span>결제 완료</span></div>
                <div class="status-next"></div>
                <div class="order-status order-prep {% if current_order.state == current_order.WAIT_SUBMIT %}active{% endif %}"><span>배송 준비중</span></div>
                <div class="status-next"></div>
                <div class="order-status on-delivery {% if current_order.state == current_order.ON_DELIVERY %}active{% endif %}"><span>배송중</span></div>
                <div class="status-next"></div>
                <div class="order-status order-complete {% if current_order.state == current_order.ENDED_DELIVERY %}active{% endif %}"><span>배송 완료</span></div>
            </div>
            <table class="w-full text-center">
                <thead class="border-t-2 border-black">
                    <tr class="border-b-2 border-gray-400">
                        <th class="py-3 w-8/12">상품정보</th>
                        <th class="bg-gray-200 w-1/12">수량</th>
                        <th class="bg-gray-200 w-2/12">금액</th>
                        <th class="bg-gray-200 w-3/12">작업</th>
                    </tr>
                </thead>

                {% for item in current_order.items.all %}
                    <tr class="border-b-2 border-gray-400">
                        <td class="flex my-5">
                            <a href="{% url 'items:detail' pk=item.item.pk %}" class="ml-5">
                                <div
                                    class="w-32 h-32 bg-cover bg-center rounded-md"
                                    style="background-image:url({{item.item.thumbnail}})"></div>
                            </a>
                            <div class="flex flex-col ml-5 text-left">
                                <a href="{% url 'items:detail' pk=item.item.pk %}" class="text-lg max-w-lg font-semibold">{{item.item.name}}</a>
                                {% if item.option.all.count > 0 %}
                                <span class="text-gray-500">옵션 : {{item.option.all.0}} (+{{item.option.all.0.extra_money}}원)</span>    
                                {% else %}
                                <span class="text-gray-500">옵션 : 기본 (+0원)</span>
                                {% endif %}
                            </div>
                        </td>

                        <td class="bg-gray-200">
                            <span id="charge">{{item.quantity}}개</span>
                        </td>

                        <td class="bg-gray-200">
                            <span>{{item.get_price|intcomma}}원</span>
                        </td>

                        <td class="bg-gray-200 px-2">
                            {% if current_order.state == current_order.ENDED_DELIVERY %}
                            <a href="{% url 'reviews:review-form' item_pk=item.item.pk %}">
                                <div class="duration-300 font-semibold border-2 border-black text-black px-2 py-1 shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg">리뷰</div>
                            </a>
                            {% elif current_order.state == current_order.ORDER_CREATED %}
                            <button data-id="{{item.pk}}" class="order-item-remove cursor-pointer duration-300 font-semibold border-2 border-black text-black px-2 py-1 shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg">삭제</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <p class="font-bold text-2xl mt-8">결제금액정보</p>
            <div class="w-full border-black border-t-2 mt-3 flex">
                <div class="w-1/5 pt-3 px-2">
                    <p class="font-bold">상품금액</p>
                    <div class="flex justify-between">
                        <span class="text-gray-500">└ 상품합계</span>
                        <span class="text-gray-500">{{current_order.GetActualPrice|intcomma}}원</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-gray-500">└ 배송비합계</span>
                        <span class="text-gray-500">{{current_order.GetDeliveryFee|intcomma}}원</span>
                    </div>
                    <span class="flex justify-end">{{current_order.GetPriceWithDeliveryFee|intcomma}}원</span>
                </div>

                <div class="w-1/5 pt-3 px-2">
                    <p class="font-bold">할인금액</p>
                    <div class="flex justify-between">
                        <span class="text-gray-500">└ 상품/스토어/주문할인</span>
                        <span class="text-gray-500">{{0|intcomma}}원</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-gray-500">└ 배송비할인</span>
                        <span class="text-gray-500">{{0|intcomma}}원</span>
                    </div>
                    <span class="flex justify-end">{{0|intcomma}}원</span>
                </div>

                <div class="w-1/5 pt-3 px-2">
                    <p class="font-bold">충전/적립포인트</p>
                    <div class="flex justify-between">
                        <span class="text-gray-500">└ 적립포인트</span>
                        <span class="text-gray-500">{{0|intcomma}}원</span>
                    </div>
                </div>

                <div class="w-2/5 bg-gray-600 text-white font-bold px-5 pt-3 rounded-br-lg">
                    <div class="flex justify-between pb-1">
                        <span>결제금액</span>
                        <span>{{current_order.GetPriceWithDeliveryFee|intcomma}}원</span>
                    </div>
                    <div class="flex justify-between pb-1">
                        <span>할인금액</span>
                        <span>(-){{0|intcomma}}원</span>
                    </div>
                    <div class="flex justify-between">
                        <span>적립포인트 사용</span>
                        <span>(-){{0|intcomma}}원</span>
                    </div>
                </div>
            </div>

            {% if user.is_superuser or current_order.state == current_order.ON_DELIVERY or current_order.state == current_order.ON_DELIVERY %}
            <p class="font-bold text-2xl mt-8">배송 정보</p>
            <div class="w-full border-black border-t-2 mt-3">
                <div class="order-info">
                    <div class="order-info-line">
                <span class="order-info-line-data">배송지</span><span class="order-info-line-item">{{current_order.address}}</span>
                    </div>
                    <div class="order-info-line">
                        <span class="order-info-line-data">우편번호</span><span class="order-info-line-item">{{current_order.postal_code}}</span>
            </div>
            <div class="order-info-line">
                <span class="order-info-line-data">배송사</span><span class="order-info-line-item">우체국택배</span>
            </div>
                <div class="order-info-line">
                <span class="order-info-line-data">운송장 번호</span><span class="order-info-line-item">{{current_order.delivery_id}}</span>
            </div>
            </div>
            {% if user.is_superuser and current_order.state == current_order.WAIT_SUBMIT %}
                <div class="order-deliver">
                <input id="delivery_id" class="shadow appearance-none border rounded w-3/5 float-left inline-block py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="delivery_id" type="text" placeholder="운송장번호">
                <button id="order_set_on_delivery" class="cursor-pointer duration-300 w-2/6 float-right inline-block mb-4 py-3 font-semibold border-2 inline-block border-black text-black shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg">배송 접수</button>
            </div>
            {% endif %}
                
            </div>
            </div>
            {% endif %}

            <div class="content-center text-center">
                {% if payment.isPayed %}
                    {% if user.is_superuser or current_order.state == current_order.PAY_CONFIRMED %}
                    <a href="{% url 'orders:cancel-pay' order_pk=current_order.pk %}"><div class="duration-300 w-1/4 mx-auto my-8 text-center font-semibold text-lg border-2 border-black text-black py-2 shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg inline-block">결제 취소</div></a>
                    {% elif current_order.state == current_order.WAIT_SUBMIT %}
                    <div class="duration-300 w-1/4 mx-auto my-8 text-center font-semibold text-lg border-2 border-black text-black py-2 shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg cursor-not-allowed">주문이 접수되었습니다.</div>
                    {% elif current_order.state == current_order.ON_DELIVERY %}
                    <div class="duration-300 w-1/4 mx-auto my-8 text-center font-semibold text-lg border-2 border-black text-black py-2 shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg cursor-not-allowed">배송중인 주문입니다.</div>
                    {% elif current_order.state == current_order.ENDED_DELIVERY %}
                    <div class="duration-300 w-1/4 mx-auto my-8 text-center font-semibold text-lg border-2 border-black text-black py-2 shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg cursor-not-allowed">배송 완료된 주문입니다.</div>
                    {% endif %}
                    {% if current_order.state == current_order.ON_DELIVERY and user.is_superuser %}
                    <div id="order_set_completed" class="cursor-pointer duration-300 w-1/4 mx-auto my-8 text-center font-semibold text-lg border-2 border-black text-black py-2 shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg inline-block">배송 완료 처리</div>
                    {% endif %}
                {% else %}
                    {% if not user.is_superuser %}
                        {% if current_order.state == current_order.ORDER_CREATED or current_order.state == current_order.PAY_CANCELED %}
                        <div id="order_pay_confirm" class="cursor-pointer duration-300 w-1/4 mx-auto my-8 text-center font-semibold text-lg border-2 border-black text-black py-2 shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg inline-block">결제하기</div>
                        {% endif %}
                    {% endif %}
                    {% if current_order.state == current_order.ORDER_CREATED or current_order.state == current_order.PAY_CANCELED %}
                    <a href="{% url 'orders:delete-order' order_pk=current_order.pk %}"><div class="duration-300 w-1/4 mx-auto my-8 text-center font-semibold text-lg border-2 border-black text-black py-2 shadow-md rounded-full hover:bg-black hover:text-white hover:shadow-lg inline-block">주문 삭제</div></a>
                    {% endif %}
                    
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endblock content %}