{% extends "base.html" %}
{% load on_favs humanize %}

{% block page_title %}
    {{item.name}}
{% endblock page_title %}

{% block content %}


    <div class="w-3/4 justify-center mx-auto">
        <div class="flex justify-center pt-5 pb-8 mb-5 border-b">
            <div class="w-1/4">
                <div id="thumbnail" class="duration-500 w-30vh h-64 bg-cover bg-center rounded-md mx-1" style="background-image:url({{item.thumbnail}})"></div>
                <div class="flex mt-3 w-full">
                    {% for photo in item.get_photos %}
                    <button onclick="togglelmg(value)" value="{{photo.file.url}}" class="w-1/5 h-12 bg-cover bg-center rounded-md mx-1" style="background-image:url({{photo.file.url}})"></button>
                    {% endfor %}
                    <script>
                        function togglelmg(url){
                            document.getElementById("thumbnail").style="background-image:url(" + url + ")";
                        }
                    </script>
                </div>
            </div>

            <div class="w-1/4 ml-10">
                <table class="w-full mb-5">
                    <tr class="flex justify-between py-1">
                        <td class="w-32">상품명</td>
                        <td class="font-semibold text-right">{{item.name}}</td>
                    </tr>

                    <tr class="flex justify-between py-1">
                        <td>가격</td>
                        <td class="font-semibold">{{item.price|intcomma}}원</td>
                    </tr>

                    <tr class="flex justify-between py-1">
                        <td>재고</td>
                        <td id="item_remain" class="font-semibold" {% if item.get_remaining < 1 %} style="color:red" {% endif %}>
                            {% if item.get_remaining > 0 %}
                                {{item.get_remaining}}개
                            {% else %}
                                재고 소진
                            {% endif %}
                        </td>
                    </tr>
                    
                    <tr class="flex justify-between py-1">
                        <td>옵션</td>
                        <td>
                            {% comment %} {% csrf_token %} {% endcomment %}
                            <select id="select" class="bg-gray-200 rounded-full shadow-md" name="option" {% if item.get_remaining < 1 %}disabled{% endif %}>
                                <option selected="selected" disabled>옵션 선택</option>
                                <option disabled>-----------</option>
                                {% if item.options.all.count > 0 %}
                                {% for option in item.options.all %}
                                    <option value="{{option.pk}},{{option.name}},{{item.price}},{{option.extra_money}}" etc="{{option.name}}">{{option.name}} +{{option.extra_money|intcomma}}원</option>
                                {% endfor %}
                                {% else %}
                                    <option value="-1,기본,{{item.price}},0" etc="{{option.name}}">기본 +0원</option>
                                {% endif %}
                            </select>
                        </td>
                    </tr>

                    
                </table>

                <div id="par" class="mb-5">
                </div>

                <div class="w-full">
                    {% if user.is_superuser %}
                    <div class="w-full flex justify-between">
                        <a href="{% url 'items:photos' item.pk %}" class="w-1/2 mr-2">
                            <div class="duration-500 px-3 py-2 rounded-full border-2 border-teal-500 text-center shadow-md font-semibold hover:bg-teal-500 hover:text-white hover:shadow-lg">사진 편집</div>
                        </a>
                        <a href="{% url 'items:options' item_pk=item.pk %}" class="w-1/2">
                            <div class="duration-500 px-3 py-2 rounded-full border-2 border-teal-500 text-center shadow-md font-semibold hover:bg-teal-500 hover:text-white hover:shadow-lg">옵션 편집</div>
                        </a>
                    </div>
                    <a href="{% url 'items:edit' item.pk %}">
                        <div class="duration-500 text-center font-semibold rounded-full border-2 border-black py-2 my-3 bg-black text-white w-full hover:bg-gray-700 shadow-md hover:border-gray-700 hover:shadow-lg">상품 편집</div>
                    </a>
                    <a href="{% url 'items:delete' item.pk %}">
                        <div class="duration-500 py-2 text-black font-semibold text-center rounded-full border-2 border-black w-full hover:bg-red-700 hover:text-white shadow-md hover:border-red-700 hover:shadow-lg">상품 삭제</div>
                    </a>
                    {% else %}
                    <button id="item_make_order" class="duration-500 font-semibold rounded-full border-2 border-black py-2 mb-3 bg-black text-white w-full hover:bg-gray-700 hover:border-gray-700 focus:outline-none {% if item.get_remaining < 1 %}disabled" disabled="true{% endif %}">주문하기</button>
                    
                    {% if user.is_authenticated %}
                    {% on_favs item as on_favs_boolean %}
                    {% if on_favs_boolean %}
                    <a href="#" id="favlist_remove">
                        <div class="duration-500 py-2 text-black font-semibold text-center rounded-full border-2 border-black w-full hover:bg-red-700 hover:text-white hover:border-red-700">위시리스트 삭제 <i class="fas fa-heart-broken"></i></div>
                    </a>
                    {% else %}
                    <a href="#" id="favlist_add">
                        <div class="duration-500 py-2 text-black font-semibold text-center rounded-full border-2 border-black w-full hover:bg-gray-700 hover:text-white hover:border-gray-700">위시리스트 추가 <i class="fas fa-heart"></i></div>
                    </a>
                    {% endif %}
                    {% endif %}

                    {% endif %}
                    
                </div>
            </div>
        </div>

        <div class="mb-5 mx-auto flex justify-center">
            <div>{{item.description|safe}}</div>
        </div>

        <ul class="flex items-center text-sm font-medium">
            <li class="duration-500 nav_link cursor-pointer"><button id="review_b" onclick="bchange(0)" class="focus:outline-none font-semibold">Review</button></li>
            <li class="duration-500 nav_link cursor-pointer"><button id="qna_b" onclick="bchange(1)" class="focus:outline-none">QnA</button></li>
            <script>
                function bchange(mode){
                    var review = document.getElementById('review');
                    var qna = document.getElementById('qna');
                    var review_b = document.getElementById('review_b');
                    var qna_b = document.getElementById('qna_b');
                    if(mode==1){
                        review.style.display="none";
                        qna.style.display="block";
                        review_b.className="focus:outline-none";
                        qna_b.className="focus:outline-none font-semibold";
                    }else{
                        review.style.display="block";
                        qna.style.display="none";
                        review_b.className="focus:outline-none font-semibold";
                        qna_b.className="focus:outline-none";
                    }
                }
            </script>
        </ul>

        <div id="review" style="display:block;" class="border-t">
            {% for review in item.reviews.all %}
            <div class="border-section ml-5 my-5">
                <div class="mb-3 flex">
                    <div class="text-center">
                        {% include "mixins/user_avatar.html" with user=review.user h_and_w='w-10 h-10' text='text-lg' %}
                        <span class="text-xs text-gray-500">{{review.user.name}}</span>
                    </div>
                    <div class="flex flex-col ml-5">
                        <div>
                            <span class="font-medium font-bold">{{review.title}}</span>
                            <span class="ml-1 text-xs text-gray-500">{{review.created|date:'F Y'}}</span>
                            {% if user.pk == review.user.pk %}
                            <a href="{% url 'reviews:edit' review_pk=review.pk %}" class="duration-500 ml-1 text-sm text-teal-500 font-semibold hover:text-teal-700">수정</a>
                            {% endif %}
                            {% if user.pk == review.user.pk or user.is_superuser %}
                            <a href="{% url 'reviews:delete' review_pk=review.pk %}" class="duration-500 ml-1 text-sm text-red-500 font-semibold hover:text-red-700">삭제</a>
                            {% endif %}
                        </div>
                        <p class="text-gray-600 text-sm">{{review.content}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div id="qna" style="display:none;" class="border-t">
            {% if not user.is_superuser %}
            <a href="{% url 'qnas:create-q' item.pk %}">
                <button class="duration-500 ml-5 mt-3 text-center font-semibold rounded-full border-2 border-black px-3 py-1 bg-black text-white hover:bg-gray-700 shadow-md hover:border-gray-700 hover:shadow-lg focus:outline-none">질문하기</button>
            </a>
            {% endif %}
            {% for question in item.questions.all %}
            <div class="border-section ml-5 my-5">
                <div class="mb-3 flex">
                    <div class="text-center">
                        {% include "mixins/user_avatar.html" with user=question.user h_and_w='w-10 h-10' text='text-lg' %}
                        <span class="text-xs text-gray-500">{{question.user.name}}</span>
                    </div>
                    <div class="flex flex-col ml-5">
                        <div>
                            <span class="font-medium font-bold">{{question.title}}</span>
                            <span class="ml-1 text-xs text-gray-500">{{question.created|date:'F Y'}}</span>

                            {% if question.answer_status == "미답변" %}
                                <span class="ml-1 text-xs text-red-500 font-semibold">{{question.answer_status}}</span>
                            {% else %}
                                <span class="ml-1 text-xs text-teal-500 font-semibold">{{question.answer_status}}</span>
                            {% endif %}
                            
                            {% if user.pk == question.user.pk %}
                                <a href="{% url 'qnas:edit-q' question_pk=question.pk %}" class="duration-500 ml-1 text-sm text-teal-500 font-semibold hover:text-teal-700">수정</a>
                            {% endif %}

                            {% if user.pk == question.user.pk or user.is_superuser %}
                                <a href="{% url 'qnas:delete-q' question_pk=question.pk %}" class="duration-500 ml-1 text-sm text-red-500 font-semibold hover:text-red-700">삭제</a>
                            {% endif %}

                            {% if question.answer_status == "답변완료" %}
                            <button id="{{question.pk}}-b" onclick="banswer(value)" value="{{question.pk}}" class="font-bold focus:outline-none">▽</button>
                            {% else %}
                                {% if user.is_superuser %}
                                <a href="{% url 'qnas:create-a' question_pk=question.pk %}" class="duration-500 ml-1 text-sm text-teal-500 font-semibold hover:text-teal-700">답변달기</a>
                                {% endif %}
                            {% endif %}
                            

                            
                            <script>
                                function banswer(pk){
                                    console.log("click");
                                    var answer = document.getElementById(pk);
                                    var btn = document.getElementById(pk + "-b");
                                    if(answer.style.display == "none"){
                                        answer.style.display = "block";
                                        btn.innerHTML="△";
                                    }else{
                                        answer.style.display = "none";
                                        btn.innerHTML="▽";
                                    }
                                }
                            </script>
                        </div>
                        <p class="text-gray-600 text-sm">{{question.content}}</p>
                    </div>
                </div>
            </div>
            {% if question.answer_status == "답변완료" %}
            <div id="{{question.pk}}" style="display:none">
                {% for answer in question.answers.all %}
                    <div class="border-section ml-16">
                        <div class="flex px-3 py-2 rounded-lg">
                            <div class="text-center">
                                {% include "mixins/user_avatar.html" with user=answer.user h_and_w='w-10 h-10' text='text-lg' %}
                                <span class="text-xs text-gray-500">{{answer.user.name}}</span>
                            </div>
                            <div class="flex flex-col ml-5">
                                <div>
                                    <span class="font-medium font-bold">{{answer.title}}</span>
                                    <span class="ml-1 text-xs text-gray-500">{{answer.created|date:'F Y'}}</span>
                                    
                                    {% if user.pk == answer.user.pk %}
                                    <a href="{% url 'qnas:edit-a' answer_pk=answer.pk %}" class="duration-500 ml-1 text-sm text-teal-500 font-semibold hover:text-teal-700">수정</a>
                                    {% endif %}
                                    {% if user.pk == answer.user.pk or user.is_superuser %}
                                    <a href="{% url 'qnas:delete-a' answer_pk=answer.pk %}" class="duration-500 ml-1 text-sm text-red-500 font-semibold hover:text-red-700">삭제</a>
                                    {% endif %}
                                </div>
                                <p class="text-gray-600 text-sm">{{answer.content}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>


    </div>
{% endblock content %}