{% extends "base.html" %}

{% block page_title %}
    상품 추가
{% endblock page_title %}

{% block content %}
    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/2 mx-auto rounded-md my-10 flex flex-col items-center border p-3 border-gray-400">
        <form method="POST">
            <div class="my-5">
                {% csrf_token %}
                {{form.media}}
                {% for field in form %}
                    {% include 'mixins/item/item_input.html' with field=field %}
                {% endfor %}
            </div>
            <button class="duration-500 w-full px-3 py-2 rounded-full bg-green-500 text-white shadow-md hover:shadow-lg hover:bg-green-700 focus:outline-none">다음</button>
        </form>
    </div>
{% endblock content %}