{% extends 'base.html' %}


{% block page_title %}
회원가입
{% endblock page_title %}


{% block search-bar %}
{% endblock search-bar %}


{% block content %}

<div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center rounded-md border p-6 border-gray-400">
    {% include 'mixins/auth/auth_form.html' with form=form cta="회원가입" %}
    <div class="mt-5">
        <span class="mr-2">이미 계정이 있으신가요?</span>
        <a href="{% url 'users:login' %}" class="duration-500 text-teal-500 hover:text-teal-800">로그인</a>
    </div>
</div>

{% endblock content %}