{% extends 'base.html' %}

{% block page_title %}
    회원정보 수정
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 rounded-md mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        {% include 'mixins/auth/auth_form.html' with form=form cta="프로필 수정" %}  
        <div class="mt-5">
            <a href={% url 'users:password' %} class="duration-500 text-teal-500 font-medium hover:text-teal-800">암호 변경</a>
        </div>
    </div>

{% endblock content %}