{% extends 'base.html' %}

{% block page_title %}
    암호 변경
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div class="min-h-75vh">
    <div class="container rounded-md lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        {% include 'mixins/auth/auth_form.html' with form=form cta="암호 변경" %}
    </div>
</div>
{% endblock content %}