{% extends 'base.html' %}
{% load humanize %}

{% block page_title %}
    {{user.name}}님의 정보
{% endblock page_title %}

{% block content %}

    <div class="min-h-75vh">
        <p class="font-semibold text-center text-2xl">내 정보</p>

        <div class="mx-auto w-2/3">
            <div class="flex border border-gray-400 px-5 py-5 items-center my-6">
                {% include "mixins/user_avatar.html" with user=user %}
                <span class="ml-5">저희 쇼핑몰을 이용해 주셔서 감사합니다.</span>
            </div>
            
            <div class="flex border-8 mb-6">
                <div class="border-r w-1/2 px-10 py-6 text-sm">
                    <div class="flex justify-between mb-3">
                        <div>
                            <span class="font-bold">></span>
                            <span>가용적립금</span>
                        </div>
                        <span>0원</span>
                    </div>
                    <div class="flex justify-between">
                        <div>
                            <span class="font-bold">></span>
                            <span>사용적립금</span>
                        </div>
                        <span>0원</span>
                    </div>

                </div>

                <div class="w-1/2 px-10 py-6 text-sm">
                    <div class="flex justify-between mb-3">
                        <div>
                            <span class="font-bold">></span>
                            <span>총적립금</span>
                        </div>
                        <span>0원</span>
                    </div>
                    <div class="flex justify-between">
                        <div>
                            <span class="font-bold">></span>
                            <span>총주문</span>
                        </div>
                        <span>{{user.get_total_order_price|intcomma}}원({{user.get_total_order_count}}개)</span>
                    </div>
                </div>
            </div>

            <div class="border w-full mb-6">
                <div class="bg-gray-200 font-semibold px-6 py-2 border-b">나의 주문처리 현황</div>

                <div class="flex justify-between my-5">
                    <div class="border-r border-dotted px-5 py-5 w-1/5 text-center">
                        <p class="font-semibold">결제전</p>
                        <p class="font-semibold text-2xl">{{user.get_pay_confirmed}}</p>
                    </div>

                    <div class="border-r border-dotted px-5 py-5 w-1/5 text-center">
                        <p class="font-semibold">배송준비중</p>
                        <p class="font-semibold text-2xl">{{user.get_wait_submit}}</p>
                    </div>

                    <div class="border-r border-dotted px-5 py-5 w-1/5 text-center">
                        <p class="font-semibold">배송중</p>
                        <p class="font-semibold text-2xl">{{user.get_on_delivery}}</p>
                    </div>

                    <div class="border-r border-dotted px-5 py-5 w-1/5 text-center">
                        <p class="font-semibold">배송완료</p>
                        <p class="font-semibold text-2xl">{{user.get_ended_delivery}}</p>
                    </div>

                    <div class="px-5 py-5 w-1/5 text-center text-sm">
                        <div>
                            <span>· 취소 : </span>
                            <span class="text-sm font-semibold ml-2">{{user.get_pay_canceled}}</span>
                        </div>
                        <div>
                            <span>· 교환 : </span>
                            <span class="font-semibold ml-2">0</span>
                        </div>
                        <div>
                            <span>· 반품 : </span>
                            <span class="font-semibold ml-2">0</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full flex justify-between">
                <a href="{% url 'orders:all' %}" class="duration-500 border w-1/3 text-center rounded-sm hover:border-black py-5">
                    <p class="text-2xl font-bold mb-2">ORDER</p>
                    <p class="text-gray-600 text-sm mb-4">주문내역 조회</p>
                </a>

                <a href="{% url 'users:update' %}" class="duration-500 border w-1/3 mx-3 text-center rounded-sm hover:border-black py-5">
                    <p class="text-2xl font-bold mb-2">PROFILE</p>
                    <p class="text-gray-600 text-sm mb-4">회원 정보 수정</p>
                </a>

                <a href="{% url 'users:see-favs' %}" class="duration-500 border w-1/3 text-center rounded-sm hover:border-black py-5">
                    <p class="text-2xl font-bold mb-2">WISHLIST</p>
                    <p class="text-gray-600 text-sm mb-4">관심 상품</p>
                </a>
            </div>

    </div>

{% endblock content %}
