<form method="POST" class="w-full" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span> 
        {% endfor %}
    {% endif %}

    {% for field in form %}
        {% include 'mixins/auth/form_input.html' with field=field %}
    {% endfor %}

    <button class="duration-500 w-full px-3 py-2 rounded-full bg-red-500 text-white shadow-md hover:shadow-lg hover:bg-red-700 focus:outline-none">{{cta}}</button>
</form> 