<div class="input w-full my-3 {% if field.errors %}has_error{% endif %}">

    <div class="mb-5">
        <p class="text-sm font-bold">{{field.label}}</p>
        <p>{{field}}</p>
    </div>

    {% if field.errors %}
        {% for error in field.errors %}
            <span class="text-red-700 font-medium text-sm">{{error}}</span> 
        {% endfor %}
    {% endif %}
</div> 